.head-wrap {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}


.head-wrap .left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head-wrap .left .menu {
  cursor: pointer;
}

.head-wrap .left .logo-holder {
  background: url("../assets/img/llog.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  margin-left: 10px;
  cursor: pointer;
}

.head-wrap .center {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  background-color: #393939;
  border-radius: 15px;
  height: fit-content;
}

.head-wrap .center input[type="text"] {
  flex: 1;
  font-size: 1.4rem;
  padding: 5px 10px;
  background: transparent;
  border: 0px;
  color: #fff;
}

.head-wrap .center input[type="text"]:focus {
  outline: none;
}

.head-wrap .center .search-icon{
  margin:10px;
}

.head-wrap .right{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  align-items: center;
}

.head-wrap .right .img-google,
.head-wrap .right .img-apple{
  width: 120px;
  height: 40px;
  background:url('../assets/img/apple.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.head-wrap .right .img-google{
  background:url('../assets/img/google.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.head-wrap .right button{
  font-size: 1rem;
  padding: 5px 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.head-wrap .right .auth{
  background: transparent;
  color: #fff;
  border:0;
}

.head-wrap .right .auth:hover{
  background: #393939;
}

.head-wrap .right .upload{
  background: #f58a29;
  color: #fff;
  border:0;
  border-radius: 5px;
}